In [2]:
import pandas as pd
data = pd.read_csv('bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv')

`.loc()` y `.iloc()` son funciones que permiten la navegacion de los dataframes en pandas

## .loc()
Filtra segun un label

In [5]:
data.loc[0:4, ['Name','Author']]

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

En ambos de pueden modificar las columnas que especifiquemos

In [9]:
data.loc[0:4, ['Reviews']] * -1

   Reviews
0   -17350
1    -2052
2   -18979
3   -21424
4    -7665

Filtrar segun una condicion indicada

In [10]:
data.loc[:,['Author']] == 'JJ Smith'

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

## .iloc[]
Filtra mediante indices

In [12]:
data.iloc[0:4, 2:4]

   User Rating  Reviews
0          4.7    17350
1          4.6     2052
2          4.7    18979
3          4.7    21424

Buscar un dato especifico mediante eje de fila y columna

In [13]:
data.iloc[1,3]

2052