Los datos nulos son **dolores de cabeza** para este mundo de la ciencia de datos y se van a encontrar mucho en nuestros DataFrames

In [2]:
import pandas as pd
import numpy as np

dicti = {'Col1':[1,2,3,np.nan],
'Col2':[4, np.nan,6,7],
'Col3':['a','b','c', None]}

df = pd.DataFrame(dicti)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

**Identificar** datos nulos con `.isnull()`, se puede asignar a un dato numerico para trabajar con tensores solamente multiplicandolo por 1

In [3]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

**Sustituir** Datos nulos con una cadena

In [4]:
df.fillna("Mising")

     Col1    Col2    Col3
0     1.0     4.0       a
1     2.0  Mising       b
2     3.0     6.0       c
3  Mising     7.0  Mising

Sustituir valores nulos por una **medida estad√≠stica** realizada con los valores de las columnas

In [5]:
df.fillna(df.mean())

C:\Users\refil\AppData\Local\Temp\ipykernel_12380\634187881.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

Sustituit por **interpolacion**

In [6]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

**Eleminar** datos nulos

In [7]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

Es importante recordar que la medida con la que trabajamos con datos nulos depende mucho de nosotros o como lo demanda el proyecto en que estamos trabajando